{% extends 'base.html' %}

{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Emma</b>Skill</a>
  </div>

  <!-- /.login-logo -->
  <div class="card py-3">
    <div class="card-body login-card-body">
      <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
      
      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.email }}
          <!-- <input type="email" class="form-control" placeholder="Email" name=""email> -->
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
{% endblock content %}
