{% extends 'components/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>Who we are</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p style="text-align: justify;">
              EmmaSkill Institute of Electronics invites you to join us on a journey of innovation, knowledge, and excellence. Whether you're seeking expert device repair, high-quality electronics and accessories, valuable training programs, or reliable SIM card solutions, we are here to serve you.
              <br><br>
              <span class="fw-bolder text-uppercase">Why Choose EmmaSkill Institute of Electronics:</span>
            </p>
            <ul>
              <li style="text-align: justify;"><i class="ri-check-double-line"></i> <span class="fw-bolder">Expertise:</span> Our team of engineers and technicians brings years of experience and expertise to every service we provide. You can trust us with your devices and training needs.</li>
              <li style="text-align: justify;"><i class="ri-check-double-line"></i> <span class="fw-bolder">Quality Assurance:</span> We stand by the quality of our products and services. When you choose us, you're choosing reliability and excellence.</li>
              <li style="text-align: justify;"><i class="ri-check-double-line"></i> <span class="fw-bolder">Customer-Centric:</span> Our commitment to customer satisfaction drives everything we do. We prioritize your needs and work diligently to exceed your expectations.</li>
              <li style="text-align: justify;"><i class="ri-check-double-line"></i> <span class="fw-bolder">Innovation:</span> We are constantly evolving to stay at the forefront of the electronics industry. Our commitment to innovation ensures that we offer cutting-edge solutions.</li>
              <li style="text-align: justify;"><i class="ri-check-double-line"></i> <span class="fw-bolder">Community Engagement:</span> At EmmaSkill Institute of Electronics, we believe in giving back to the community. We actively engage in initiatives that support and uplift the communities we serve.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Our commitment to your satisfaction drives us forward. We look forward to being your trusted partner in all your electronics needs. Contact us today and experience the EmmaSkill Institute of Electronics difference for yourself.
            </p>
            <a href="#features" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3" data-aos="zoom-in">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
              <i class="ri-mist-fill"></i>
              <h4 class="d-none d-lg-block">Our Mission</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
              <i class="ri-team-fill"></i>
              <h4 class="d-none d-lg-block">Meet Our Team</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
              <i class="ri-door-lock-fill"></i>
              <h4 class="d-none d-lg-block">Our Commitment to Quality</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
              <i class="ri-community-fill"></i>
              <h4 class="d-none d-lg-block">Supporting Our Community</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content" data-aos="fade-up">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>About Our Mission</h3>
                <p>Our Mission</p>
                <p class="fst-italic">
                  We're driven by a simple yet powerful mission: to empower individuals through electronics. Discover how our expertise, repair services, training programs, and innovative solutions contribute to a world where electronics enrich lives.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> <span class="fw-bolder">Individuals:</span> We strive to empower individuals through electronics, providing knowledge and solutions that enhance their lives.</li>
                  <li><i class="ri-check-double-line"></i> <span class="fw-bolder">Innovation:</span> Our mission involves staying at the forefront of technology, exploring new horizons, and pioneering innovations that shape the industry.</li>
                  <li><i class="ri-check-double-line"></i> <span class="fw-bolder">Impact:</span> We aim to make a positive impact on a global scale, connecting people through our electronics expertise.</li>
                </ul>
                <!-- <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p> -->
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/mission.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>About Our Team</h3>
                <p>Meet Our Team</p>
                <!-- <p>
                  At the heart of EmmaSkill Institute of Electronics is a team of passionate professionals. We bring diverse skills, years of experience, and a shared commitment to excellence. Get to know the people who drive our vision forward.
                </p> -->
                <p class="fst-italic">
                  At the heart of EmmaSkill Institute of Electronics is a team of passionate professionals. We bring diverse skills, years of experience, and a shared commitment to excellence. Get to know the people who drive our vision forward.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> <span class="fw-bolder">Diverse Expertise:</span> Our team brings diverse expertise in electronics, repair, training, and customer service.</li>
                  <li><i class="ri-check-double-line"></i> <span class="fw-bolder">Passion for Excellence:</span> We share a common passion for excellence, always going the extra mile to serve our customers.</li>
                  <li><i class="ri-check-double-line"></i> <span class="fw-bolder">Customer-Centric:</span> Our team is dedicated to putting our customers' needs first, ensuring a seamless experience with us.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/team.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>About Our Quality</h3>
                <p>Our Pledge to Maintain High Standards</p>
                <p class="fst-italic">
                  Quality is the cornerstone of everything we do. From our refurbished products to our training programs and repair services, we adhere to the highest standards. Discover how our commitment to quality sets us apart.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> <span class="fw-bolder">Rigorous Testing:</span> Our products go through rigorous testing and quality checks to ensure they meet the highest standards.</li>
                  <li><i class="ri-check-double-line"></i> <span class="fw-bolder">Skilled Craftsmanship:</span> Our repair services are delivered with skilled craftsmanship, guaranteeing the best possible outcomes.</li>
                  <li><i class="ri-check-double-line"></i> <span class="fw-bolder">Continuous Improvement:</span> We are committed to continuous improvement, always seeking ways to enhance the quality of our offerings.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/quality.jpeg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>About Our Community</h3>
                <p>
                  Supporting Our Community
                </p>
                <p class="fst-italic">
                  We believe in giving back to the community that has supported us. Learn how we actively engage in initiatives that uplift and strengthen the communities we serve. Join us in making a positive impact.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> <span class="fw-bolder">Community Engagement:</span> We actively engage in community initiatives, supporting education, environmental sustainability, and social causes.</li>
                  <li><i class="ri-check-double-line"></i> <span class="fw-bolder">Local Partnerships:</span> We foster partnerships with local businesses and organizations to strengthen the communities we serve.</li>
                  <li><i class="ri-check-double-line"></i> <span class="fw-bolder">Giving Back:</span> Giving back is a core value; we allocate resources to projects and causes that make a positive impact on society.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/community.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-out">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Join Us</h3>
            <p>Experience seamless device repair and unlock endless possibilities with our SIM card solutions. Trust our expert engineers for mobile and PC repairs. Get started today!</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="{% url 'register' %}">Start Now</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Services</h2>
          <p>What we do offer</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Mobile Repair</a></h4>
              <p class="description">Restore your device with our skilled mobile repair services. Quick and dependable solutions for any smartphone issues you encounter.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
              <div class="icon"><i class="bi bi-tools" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">PC Repair</a></h4>
              <p class="description">Revive your PC with expert repair services. We fix hardware and software issues swiftly, ensuring your computer runs like new.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="icon"><i class="bi bi-sim-fill" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">SIM Card Sale</a></h4>
              <p class="description">Unlock seamless communication with our premium SIM card sale. Experience the convenience of staying connected, wherever you go.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
              <div class="icon"><i class="bi bi-bookmark-check-fill" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Trainings</a></h4>
              <p class="description">Unlock your skills with our expert repair and training services, designed to empower you with hands-on knowledge and expertise.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
              <div class="icon"><i class="bi bi-phone-fill" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Sale of Refurbished Phones</a></h4>
              <p class="description">Discover unbeatable deals on certified refurbished phones - quality, savings, and peace of mind in every purchase.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
              <div class="icon"><i class="bi bi-headphones" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Sale of Phone Accessories</a></h4>
              <p class="description">Enhance your phone's potential with our premium accessories. Elevate style and performance with our wide range of phone accessories for sale.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    {% comment %} <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Portfolio</h2>
          <p>What we've done</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section --> {% endcomment %}

    {% comment %} <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials bg-light">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Testimonials</h2>
          <p>What they are saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section --> {% endcomment %}

    <!-- ======= Pricing Section ======= -->
    <!-- <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Pricing</h2>
          <p>Our Competing Prices</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>--><!-- End Pricing Section -->

    <!-- ======= Market Section ======= -->
    <section id="contact" class="contact" style="background-color: rgb(37, 36, 36);">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2 class="text-white">Trending Market</h2>
          <p class="text-white">Order your refurbished phones</p>
        </div>

        {% if mart %}
        <div class="row justify-content-around mt-3 stock" data-aos="fade-left">
          {% for i in mart %}
          {% if i.trending and forloop.counter <= 8 %}
          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <div class="card rounded-3 shadow text-white">
              <div class="card-img-top" style="background: url({{i.image.url}}); height: 250px; background-size: cover; background-position: center; background-repeat: no-repeat;">
              </div>
              <div class="card-img-top p-4 bg-dark shadow rounded-0" style="height: 170px;">
                <a href="{% url 'market' i.slug %}" class="card-title text-capitalize mb-3">{{i.name}}</a>
                {% if i.original_price and i.selling_price %}
                <h6 class="card-text mb-3">
                  <small><strike>NGN {{i.original_price | floatformat:0 | intcomma}}</strike></small>
                {% endif %}
                {% if i.selling_price %}
                <span class="ml-2">NGN {{i.selling_price | floatformat:0 | intcomma}}</span>
                </h6>
                {% endif %}
                {% if i.tag %}
                <div class="ribbon-wrapper ribbon-lg">
                  {% if i.tag == "sale" %}
                  <div class="ribbon bg-danger text-lg">
                    {{i.tag}}
                  </div>
                  {% else %}
                  <div class="ribbon bg-success text-lg">
                    {{i.tag}}
                  </div>
                  {% endif %}
                </div>
                {% endif %}
                <div class="row">
                  {% if i.quantity > 0 %}
                  <div class="button">
                    <a href="{% url 'marketplace' %}" class="btn text-white w-100 Buy" style="background-color: #ef6603; color: white;">Buy <i class="fa fa-cart-arrow-down" aria-hidden="true" type="button"></i></a>
                  </div>
                  {% else %}
                    <label class="btn btn-danger">Out of Stock</label>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% else %}
        <div class="mt-4 p-5 text-white rounded" style="background-color: #ef6603; color: white;">
          <h1><i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size: 50px;"></i> No Market</h1>
        </div>
        {% endif %}
    </section><!-- End Contact Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Do you offer a warranty on your refurbished phones and accessories? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, we provide a warranty on all our refurbished products. Our warranty ensures that you receive high-quality devices and accessories that are backed by our commitment to customer satisfaction.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">What types of training programs do you offer? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                We offer a wide range of training programs, from basic electronics troubleshooting to advanced mobile and PC repair techniques. Our courses cater to beginners and those looking to enhance their technical skills in the electronics field.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">How long does it typically take to repair a mobile phone or PC? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                The repair time can vary depending on the complexity of the issue. Our team strives to provide efficient service, and many common repairs can be completed within the same day. For more detailed estimates, feel free to contact us.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Can I purchase SIM cards for international use from your store? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, we offer SIM cards suitable for international travel. These SIM cards provide cost-effective options for staying connected while abroad, with various data and call plans to choose from.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Are your trainers experienced professionals? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Absolutely. Our training programs are led by experienced professionals with in-depth knowledge of electronics and repair techniques. You can trust that you'll receive top-quality instruction and guidance.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">How can I get in touch with your customer support team? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                You can reach our customer support team through multiple channels. Feel free to visit our contact page on our website, call our dedicated support line, or send us an email. We're here to assist you with any questions or concerns you may have.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

    {% comment %} <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Team</h2>
          <p>Our Hardworking Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section --> {% endcomment %}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Ten Shop, Otan Road, Iresi, Osun State</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><a href="mailto:emaskills2@gmail.com" style="color: #555974">emaskills2@gmail.com</a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>
                  <a href="tel:+2348134809688" style="color: #555974">+2348134809688</a><br>
                  <a href="tel:+2349127896305" style="color: #555974">+2349127896305</a>
                </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <!-- <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> -->
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock content %}