{% extends 'adm/base.html' %}

{% load static %}

{% block title %}EmmaSkill Institute - {{user.username}}{% endblock title %}

{% block content %}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light p-0">

    <div class="py-2 px-3 w-100 bg-primary text-white" style="background: rgb(2,0,36);
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    ">
    <ul class="navbar-nav mb-2">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars text-white"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link text-white">Home</a>
      </li>
      
    </ul>
    <div class="px-3 my-4">
        <h1 class="h1">User Data</h1>
        <!-- <p>Registered Users <span class="badge bg-success ml-1">6</span></p> -->
    </div>
    </div>
    <!-- Left navbar links -->
    
  </nav>
  <!-- /.navbar -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container mt-3">
            <table class="table table-hover text-capitalize text-justify">
                <tr>
                    <th>Profile id</th>
                    <td>{{pr.user_id}}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{pr.user}}</td>
                </tr>
                <tr>
                    <th>E-Mail</th>
                    <td class="text-lowercase"><a href="mailto:{{pr.email}}">{{pr.email}}</a></td>
                </tr>
                <tr>
                    <th>Mobile No.</th>
                    <td><a href="tel:{{pr.no}}">{{pr.no}}</a></td>
                </tr>
                <tr>
                    <th>Date Joined</th>
                    <td>{{pr.date}}</td>
                  </tr>
            </table>
          </div>

          <!-- <a href="{% url 'del_user' pk=pr.pk %}" class="btn btn-danger mx-3 my-3">Delete</a> -->
          
</section>
</div>
<!-- /.content-wrapper -->

{% endblock %}