{% extends 'adm/base.html' %}

{% load static %}

{% block title %}EmmaSkill institute - Upload{% endblock title %}

{% block content %}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light p-0">

    <div class="py-2 px-3 w-100 bg-primary text-white" style="background: rgb(2,0,36);
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    ">
        <ul class="navbar-nav mb-2">
            <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars text-white"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
            <a href="/" class="nav-link text-white">Home</a>
            </li>
            
        </ul>
        <div class="px-3 my-3 mx-4">
            <h1 class="h1">Upload Market</h1>
            <p class="text-secondary my-2">Refurbished phone, accessories e.t.c.</p>
        </div>
    </div>
    
  </nav>
  <!-- /.navbar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      
        <div class="card col-lg-6 col-sm-12 col-md-6 mx-auto">
          <div class="card-body register-card-body">
            
            
            {% if messages %}
            <div class="my-4">
              {% for message in messages %}
              <h6 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</h6>
              {% endfor %}
            </div>
            {% endif %}
      
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-6 input-group mb-3">
                  <select name="category" id="" class="form-control text-capitalize">
                    <option value="-- Choose Category --" selected disabled>-- Choose Category --</option>
                    {% for i in category %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                  </select>
                  <!-- <input type="text" class="form-control" placeholder="Product Category" name="category" required> -->
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-folder"></span>
                    </div>
                  </div>
                </div>
                <div class="col-6 input-group mb-3">
                  <input type="text" class="form-control text-capitalize" placeholder="Product Name" name="name" required>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-id-badge"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class=" col-4 input-group mb-3">
                  <input type="text" class="form-control text-capitalize" placeholder="Tag" name="tag">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-tag"></span>
                    </div>
                  </div>
                </div>
                <div class=" col-4 input-group mb-3">
                  <input type="number" class="form-control text-capitalize" placeholder="Trending Status" name="trend" max="1" min="0" value="0">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-line-chart"></span>
                    </div>
                  </div>
                </div>
                <div class=" col-4 input-group mb-3">
                  <input type="number" class="form-control text-capitalize" placeholder="Quantity" name="qty" value="1">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-sort-amount-asc"></span>
                    </div>
                  </div>
                </div>
                <div class="col input-group mb-3">
                  <input type="file" class="form-control" placeholder="Product Image(s)" name="image" required multiple>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-upload"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 input-group mb-3">
                  <input type="number" class="form-control" placeholder="Original Price" name="oprice" required>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-money"></span>
                    </div>
                  </div>
                </div>
                <div class="col-6 input-group mb-3">
                  <input type="number" class="form-control" placeholder="Selling Price" name="sprice" required>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-money"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Product Description(s) " name="sdesc" required multiple>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fa fa-info"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <textarea type="text" class="form-control" placeholder="Product Description" name="desc" required></textarea>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fa fa-info"></span>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-danger my-3 w-100">Upload</button>
              </div>
            </form>     
          </div>
          <!-- /.form-box -->
        </div><!-- /.card -->
    </section>
</div>
<!-- /.content-wrapper -->



{% endblock %}