{% load static %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <!-- <h1><a href="/u/dashboard">EmmaSkill</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="nav-link scrollto" href="{% url 'user_dash' %}">Home</a>
          </li>
          <li>
            <a class="nav-link scrollto" href="{% url 'bookings' %}">Bookings</a>
          </li>
          <li>
            <a class="nav-link scrollto" href="{%url 'marketplace' %}">Market</a>
          </li>
          <li>
            <a class="nav-link scrollto" href="{% url 'order' %}">Order</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'cart' %}">Cart&nbsp;<span class="badge bg-danger">1</span></a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a class="nav-link scrollto active" href="/logout">Logout</a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'user_profile' %}" class="nav-link scrollto">
              {% if show.image %}
              <img src="{{show.image.url}}" class="img-circle elevation-3 img-fluid" style="opacity: .8; width: 40px; height: 40px;" alt="{{request.user}}">
              {% else %}
              <img src="{% static 'assets/img/default.jpg' %}" class="img-circle elevation-3 img-fluid" style="opacity: .8; width: 40px; height: 40px;" alt="{{request.user}}">
              {% endif %}
              <span class="brand-text font-weight-light text-capitalize">&nbsp;{{request.user}}</span>
            </a>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
