{% extends 'users/base.html' %}

{% load static %}

{% load humanize %}

{% block title %}EmmaSkill Institute | Cart{% endblock title %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
            <li><a href="/users/dashboard">Home</a></li>
            <li>Cart</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Order Section ======= -->
    <section id="contact" class="contact">
      <div class="container px-4">

        <div class="section-title" data-aos="zoom-out">
          <h2>Shop</h2>
          <p>Shopping Cart</p>
        </div>
        
        <div class="container-fluid mt-4" data-aos="fade-right">
          <div class="table-responsive">
              <table class="table text-center table-dark table-striped table-hover table-bordered shadow-sm">
                  <thead>
                      <tr>
                          <th scope="col" class="w-25">Thumbnail</th>
                          <th scope="col">Product</th>
                          <th scope="col">Price</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Total</th>
                          <th scope="col">Remove</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for i in cart %}
                      <tr class="content">
                          <td class="align-middle"><img src="{{i.product.image.url}}" alt="{{i.product.name}}" class="img-fluid w-50 img-thumbnail"></td>
                          <td class="text-capitalize align-middle"><a href="{% url 'market' i.product.id %}" class="text-white">{{i.product}}</a></td>
                          <td class="align-middle">
                            <input type="hidden" value="{{i.product.selling_price}}" class="price">
                            NGN {{ i.product.selling_price| floatformat:0 | intcomma }}
                          </td>
                          <td class="align-middle">
                            <input type="hidden" value="{{i.product.quantity}}" class="stock">
                            <input type="hidden" value="{{i.product_qty}}" class="quantity">
                            <input type="number" value="{{i.product_qty}}" class="form-control w-50 mx-auto text-center qty-input" min="1">
                          </td>
                          <td class="align-middle total"></td>
                          <td class="align-middle">
                            {% csrf_token %}
                            <input type="hidden" value="{{i.product.id}}" class="prod_id">
                            <button class="btn btn-danger remove-item" type="button"><i class="fa fa-recycle bg-danger"></i></button>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
          <div class="row justify-content-between">
            <div class="col-lg-4 col-sm-12 col-md-6 py-4 px-4 shadow h-50 bg-light">
                <p>Apply Coupon to get discount!</p>
                <div class="input-group">
                  {% csrf_token %}
                  <input type="text" placeholder="Coupon Code" class="form-control text-capitalize" id="coupon">
                  <button class="btn btn-primary applyCoupon">Apply</button>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-6 card p-5 bg-dark text-white my-3 shadow-sm">
              <p><span class="float-start">Cart Subtotal</span><span class="float-end subtotal badge badge-warning p-2"></span></p>
              <!-- <p><span class="float-start">Shipping</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="float-end">NGN</span> </p> -->
              <p><span class="float-start">You Save</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="float-end saved badge badge-info">NGN 0</span></p>
              <p>
                <span class="float-start">You Pay</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="float-end pay badge badge-light" id="pay-value"></span>
              </p>
              <form action="{% url 'placeorder' %}" method="POST" id="paymentForm">
                {% csrf_token %}
                <input type="hidden" id="email" value="{{request.user.email}}" name="email">
                <input type="hidden" id="paystack" value="paystack" name="payment_mode">
                <input type="hidden" class="pay-input" name="amount" id="pay-input">
                <button class="btn btn-primary w-100" type="submit" onclick="payWithPayStack()">Order</button>
              </form>
              <a href="{% url 'marketplace' %}" class="btn btn-danger mt-2" style="color: white;">Continue Shopping</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
  </section>

  </main><!-- End #main -->

  <script src="{% static 'assets/js/custom.js' %}"></script>
  {% comment %} <script src="https://js.paystack.co/v1/inline.js"></script>
  <script>
    const paymentForm = document.getElementById('paymentForm');
    paymentForm.addEventListener("submit", payWithPayStack, false);
    
    function payWithPayStack(e) {
      e.preventDefault();
      
      let handler = PaystackPop.setup({
        key: '{{pk_public}}', // Replace with your public key
        email: '{{neworder.email}}',
        amount: '{{neworder.amount_paid}}',
        ref: '{{neworder.transaction_ref}}',
        onClose: function(){
          alert('Window closed.');
        },
        callback: function(response){
          let message = 'Payment complete! Reference: ' + ref;
          alert(message);
        }
      });
      handler.openIframe();
    }
  </script> {% endcomment %}

  {% endblock content %}